.navbar{
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.logotext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-todo-btn{
    margin-right: 50px;
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

#title{
    font-family: Oswald;
    font-size: 20px;
    
  }
  
  @keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-moz-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-webkit-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  } 

  *, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}